body {
    background: #1e1e1e;
    color: white;
    font-family: Arial;
    padding: 20px;
}

h2, h3 {
    margin-bottom: 10px;
}

.ore-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

select, input {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.weapon-box {
    background: #333;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#calculate-btn {
    background: #0a84ff;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
}

.check-good {
    color: #00ff00;
}

.maxed {
    color: #ffcc00;
    font-weight: bold;
}
